<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>A simple page.</title>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="application/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div id="main-div">
    <p id="main-p">My cat's breath smells like cat food!</p>
</div>

<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
</body>
</html>