<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>A simple page.</title>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="application/javascript"></script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="well well-lg" id="main-div">
                <div class="text-center">
                    <img src="img/Ralph_Wiggum.png"></img>
                    <h3 id="main-p">My cat's breath smells like cat food!</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
</body>
</html>